<%= render 'shared/navigation' %>
<div class="backdrop">
  <div class="home_container">
    <div class="quest-grid">
      <%= render partial: 'quest_card', collection: @quests, as: :quest %>
    </div>

    <div class="pagination-container">
      <%= paginate @quests %>
    </div>
  </div>
</div>